# Common
.*
!.githooks
!.gitattributes
!.gitignore
!.gitkeep

# Node.js
node_modules/
dist/
logs/
*.log
!.prettierrc.json

# Exclude package-lock.json as the project is not sensitive to dependency versions.
package-lock.json

# Python
__pycache__/
venv/
*.pyc

# Exclude image artifacts. If necessary, add files explicitly.
*.jpg
*.png
